{% extends 'base.html' %}


{% block content %}

<form method="POST" action="{% url 'update_quatities' %}">
    {% csrf_token %}
    {{ forms.mangement_form }}
    {% for form in forms %}
        <div>
            <h3>{{ form.instance.product.name }}</h3>
            <img src="{{ form.instance.product.thumbnail.url }}" alt="{{ form.instance.product.name }}" style="max-width: 100px;">
            <p>{{ form.instance.product.description }}</p>
            {{ form.as_p }}
        </div>
        <button type="submit">Mettre à jour les quantités</button>
    {% endfor %}
</form>

<a href="{% url 'delete-cart' ">Supprimer le panier</a>

{% endblock %}

<form method="POST">

</form>