MyBlog/.env
liste_de_course_OOP/constantes.py
MyBlog/src/MyBlog/__pycache__
MyBlog/src/Posts/__pycache__/
MyBlog/src/Posts/migrations/__pycache__/
MyBlog/.idea/
DocShop/.idea/
DocShop/shop/__pycache__/
._liste_de_course.py
MyBlog/src/Posts/templates/Posts/._blogpost_confirm_delete.html