{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Accueil du blog</title>
    {% endblock title %}
</head>
<body>
    {% block content %}
        <h1></h1>
            <article>
                <h2></h2>
                <h5></h5>
                <p></p>
            </article>

    {% endblock content %}
</body>
</html>