{% extends 'base.html' %}

{% block title %}
<title>Bienvenue sur MyBlog</title>
{% endblock title %}

{% block content %}
<h1>MyBlog</h1>
{% for post in posts %}
<article>
    <!--                <h2><a href="{% url 'Posts:post' slug=post.slug %}">{{ post.title }}</a></h2>-->

    <div class="post-title">
        <h2>{{ post.title }}</h2>

        {% if request.user.is_authenticated %}
        <div>
            <a href="{% url 'Posts:edit' slug=post.slug %}">Modifier</a>
            <a href="{% url 'Posts:delete' slug=post.slug %}">Supprimer</a>
            {% endif %}
        </div>
    </div>

    <h5 class="post-author">Publié par <i>{{ post.author_or_default }}</i> le {{ post.created_on|date:'j F Y' }} </h5>
    <p class="post-excerpt">{{ post.content|safe|truncatewords:50 }}</p>

    <form action="{% url 'Posts:post' slug=post.slug %}">
        <button>Lire l'article</button>
    </form>
</article>
{% endfor %}

{% endblock content %}
